.func-bar-container{
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 30px;
}
.list-container{
  padding: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}